* {
    margin: 0;
    padding: 0;
} 
/* Google Fonts: Bangers */
.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* .inter-tight-font {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
} */

body {
    background-color: #161922;
}

h1 {
    font-family: "Bangers";
    color: whitesmoke;
    font-size: 120px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* p {
    text-transform: uppercase;
    font-size: 20px;
    color: #ffcb29;
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
} */

.panel1, .panel2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.panel-box {
    position: relative;
    display: inline-block;
}

.panel-box img, .panel2 img {
    display: block;
    position: relative;
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 8px 6px 5px black;
    z-index: 1;
}

.panel2 img {
    margin-top: 100px;
}

.panel-box p {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);

    border: 3px solid black;
    border-radius: 30px;
    background-color: #f7f2e8;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    width: 90%;
    box-shadow: 6px 6px 5px black;
    z-index: 2;
}

/* shake class */
.shake {
    animation: shakePanel 0.5s ease;
}


@keyframes shakePanel {
    0%   { transform: translateX(0); }
    15%  { transform: translateX(-12px) rotate(-1deg); }
    30%  { transform: translateX(12px) rotate(1deg); }
    45%  { transform: translateX(-10px) rotate(-1deg); }
    60%  { transform: translateX(10px) rotate(1deg); }
    75%  { transform: translateX(-6px) rotate(-0.5deg); }
    90%  { transform: translateX(6px) rotate(0.5deg); }
    100% { transform: translateX(0); }
}

button {
    appearance: none;
    border: 2px solid black;
    border-radius: 50%;
    
    padding: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 4px 4px 0 #101010; 

    color: black;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover.prev{
    background-color: white;
    transform: translateY(-3px);
}

button:hover.next {
    background-color: #ffcb29 ;
    transform: translateY(-3px);
}

.prev {
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: #f7f2e8;
}

.next {
    position: absolute;
    top: 50%;
    right: 10%; 
    background-color: #eec853;
}

